:root {
    --primary: #4099de;
    --primary-dark: #297ec0;
    --primary-70: rgba(64, 153, 222, 0.7);
    --primary-50: rgba(64, 153, 222, 0.5);
    --primary-30: rgba(64, 153, 222, 0.3);
    --primary-10: rgba(64, 153, 222, 0.1);
    --logo: #252d37;
    --sidebar-icon: #b3c1d1;
}

.bg-grad-sidebar {
    background-image: linear-gradient(0deg, #7e8ea1 0%, #3c4655 100%);
    background-attachment: fixed;
}

.brilliantportal-logo {
    width: 100%;
}

.brilliantportal-logo .blue {
    fill: white;
}

.brilliantportal-logo .text {
    color: white;
    font-size: 900px;
    fill: white;
    font-family: 'Lato';
    font-weight: 400;
}
